<section class="contact" id="contacto">
  <div class="container">
    <div class="contact__card">
      <div class="contact__header">
        <h2 class="contact__title">Información de Contacto</h2>
        <p class="contact__sub">Reserva tu mesa y vive la experiencia RestaurantPro</p>
      </div>
      <div class="contact__grid">
        <div class="contact-item" *ngFor="let item of contactItems">
          <div class="contact-item__icon" [innerHTML]="item.icon"></div>
          <div>
            <h4 class="contact-item__label">{{ item.label }}</h4>
            <p class="contact-item__value" *ngFor="let v of item.values">{{ v }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
